* {
  margin: none;
  padding: none;
  box-sizing: border-box; 

}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 20px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#pokemon-sprite {
  width: 5rem;
}

#pokemon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.poke-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: rgb(139, 204, 206);
  border-radius: 25px;
}

.poke-image {
  width: 15rem;
}
