* {
  margin: none;
  padding: none;
  box-sizing: border-box; 

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 20px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokemon-sprite {
  width: 10rem;
}

#pokemon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.poke-card {
  margin: 1rem;
}
